.xmin-marg{
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.x-width-max{
    width: 100% !important;
}
.x-h-max{
    height: 80px !important;
}

.x-bg-dark{
    background-color: #1f1f30;
}